.bg-primary {
  background-color: #2196f3;
}

.bg-secondary {
  background-color: #9CD3FF;
}

.bg-white {
  background-color: #ffffff;
}

.txt-primary {
  color: #2196f3;
}

.txt-secondary {
  color: #9CD3FF;
}

.txt-white {
  color: #ffffff;
}