
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 200vh;
}

header {
  top: 0;
}

.nav {
  width: 100%;
  height: fit-content;
}

.navbar {
  width: 50%;
  height: 100%;
  text-align: end;
  padding: 0px;
}

.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  list-style: none;
}

.navbar a {
  width: fit-content;
  height: 100%;
  color: inherit;
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;  
  padding:5px;
  border-radius:5px;  
}

.navbar a:hover {
  background-color:#2196f3; ;
  cursor: pointer;
}

.booking {
  width: 70%;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.book-btn{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  align-self  : center;
}

.upload-btn{
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.review {
  padding: 20px;
  gap: 20px;
  width:70%;
  height: 300px;
  border-radius: 10px;
}
