@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}


.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.container h2 {
  font-size: 5rem;
  color: #ddd;
  text-align: center;
  padding-bottom: 10rem;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: #fff;
  box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
}

footer a {
  text-decoration: none;
  color: #1c2833;
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
  grid-gap: 2.5rem;
}

.footer_headings {
  color: #000;
  padding-bottom: 2rem;
  position: relative;
}

.footer_headings::after {
  content: "";
  height: 3px;
  background: #2196f3;
  width: 25%;
  position: absolute;
  top: 30px;
  left: 0px;
}

.first_section img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.first_section p {
  padding: 1.5rem 0;
  text-align: justify;
}

.social_icons {
  display: flex;
  justify-content: space-between;
}

.social_icons i {
  font-size: 1.5rem;
  cursor: pointer;
  background: #ddd;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
  color: #1c2833;
}

.social_icons i:hover {
  transform: translateY(-5px);
}

/* second sections */
.second_section ul {
  list-style: none;
}

.second_section ul li {
  margin: 1rem 0;
}

.second_section ul li:first-child {
  margin-top: 0;
}

/* third section */
.third_section ul {
  list-style: none;
}

.third_section ul li {
  margin: 1rem 0;
  display: flex;
}

.third_section ul li:first-child {
  margin-top: 0;
}

.third_section ul li i {
  margin-right: 10px;
  background: #ddd;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
}

.third_section span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fourth section */
.form_control input,
textarea {
  outline: none;
  border: none;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 5px;
  font-size: 0.9rem;
}

.fourth_section button {
  display: block;
  width: 100%;
  outline: none;
  background: #2196f3;
  border: none;
  color: #fff;
  padding: 0.6rem 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

.footer_txt {
  background: #f0f3f4;
  padding: 1.1rem 0;
  text-align: center;
  box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
}